div.col-sm-3.hidden-xs.banner-box-col
  a.banner-post-link(href='/post/' + post.title)
    div.banner-box-container(style='background-image: url("../../' + post.image + '");')
      div.cover
      div.banner-box-title
        != post.headline


