extends ../layout

block css

block content
  h1.welcome-title Welcome to my blog!
  div.welcome-text
    p
      | I'm starting this blog tonight. The writing is probably bad, and the ideas are definitely worse, but there is one reason this blog is the best thing ever. Three words: Red. Hot. Cheetos. No explanation necessary. I hope you (me from the future?) enjoy reading this and reminiscing on the days before you became completely new rich (NR).
    p
      | For all those readers out there unfamiliar with the NR, it's about time you get acquainted. 'nuff said.
    p
      | This introduction is sort of my first blog post, and as such I may decide to replace it with something more fitting when the time comes. Perhaps then the status of this post will be relegated to that of a normal blog post. Perhaps.
    p XOXO,
    p - The Real JT


block js